@page "/"

<h1>DNP Assignment 1</h1>

<p>Welcome to the page. Here you can see a random assortment of adults which, we have been given the pleasure of managing</p>

<p>You are able to view the adults on the Adults page, but with the right login, you can Add new adults, and if you're lucky, you might even be able to Edit and Remove them as you see fit</p>

<img src="https://i2.wp.com/www.additudemag.com/wp-content/uploads/2019/06/adult-adhd-adhd-in-adults-GettyImages-1199696848.jpg" alt="Adults enjoying Coffee" class="img-fluid rounded img-thumbnail"/>